.container {
    margin: 20px auto;

    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    
}


.news {
    /* margin: 20px 20px; */
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.load-button {
    width: 300px;
}
